/****************BACKGROUND*************/
body{

    background-image: url(../images/background2.png);
    background-color: white;
    object-fit:contain;
    background-repeat: no-repeat;
    background-position: center, center;
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
    margin: 0;

}




/****************TITLE******************/
.title{
    flex-direction: column;
}

.rclogo{
    width: 100%;
    object-fit: cover; 
    position: relative;
}

.topnav{
    margin-top: -.5vh;
    object-fit: cover;
    background-color: #494545;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 8vh;
}

.topnav a{
    display: flex;
    float: left;
    color: #f2f2f2;
    text-align: justify;
    padding: .9vw 3vh;
    text-decoration: none;
    font-size: 3vh;
    font-family: verdana;
  }

.discord{
    display: flex;
    justify-content: flex-end;
    margin-right: 1vw;
    margin-top: -.5vh
}
.discord a{
    padding: 0, 0;
}
/**********************************************/

.rclogo img {width:100%; max-height: 300px; object-fit:contain; top: 0px; left: 0px; margin-bottom: 0;}
.discord img {width: 2.5vw; height: auto; justify-content:right;}
.f1logo img {width:100%; height:auto}
.f1logodark img {width:100%; height:auto}
.gt3logo img {width:100%; height:auto}
.gt3logodark img {width:100%; height:auto}

/*****************NAV. BUTTONS*********************/
.acbuttons{

    display: flex;
    justify-content: space-evenly;
    margin-top: 6vh;
   
}

    .f1logodark{

    position: relative;
    height: 18.69vh;
    width: 18.69vw;
    padding: 1rem;
    }

        .f1logo{

            position: absolute;
            left: 0px;
            top: 0px;
            height: 18.69vh;
            width: 18.69vw;
            padding: 1rem;
            opacity: 1;
            }
            .f1logo:hover{
                opacity: 0;
                transition: opacity .5s ease;
                cursor: pointer;
            }

    .gt3logodark{
    position: relative;
    height: 18.69vh;
    width: 18.69vw;
    padding: 1rem;
    }

        .gt3logo{

            position: absolute;
            left: 0px;
            top: 0px;
            height: 18.69vh;
            width: 18.69vw;
            padding: 1rem;
            opacity: 1;
            }
            .gt3logo:hover{
                opacity: 0;
                transition: opacity .5s ease;
                cursor: pointer;
            }
/********************************************/