/****************BACKGROUND*************/
body{

    background-image: url(../images/background2.png);
    background-color: white;
    object-fit:contain;
    background-repeat: no-repeat;
    background-position: center, center;
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
    margin: 0;

    


}




/****************TITLE******************/
.rclogo{
    display: flex;
    width: auto;
    height: auto;
    object-fit: cover;
 
}


/**********************************************/


.rclogo img {width:100%; max-height: 10rem; object-fit:contain;}


/********************SIGNUP**************************/


.data{
    display: flex;
    justify-content: left;
    flex-direction: row;

}