/****************TITLE******************/
.title{

    position: relative;
    display: flex;
    height: auto;
    width: auto;
 
}


/**********************************************/
/*****************NAV. BUTTONS*********************/
.homebuttons{

    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
   
}
img {width:100%; height:auto}

    .pc2logodark{

    position: relative;
    height: 20.69vh;
    width: 20.69vw;
    padding: 1rem;
    }

        .pc2logo{

            position: absolute;
            left: 0px;
            top: 0px;
            height: 20.69vh;
            width: 20.69vw;
            padding: 1rem;
            opacity: 1;
            }
            .pc2logo:hover{
                opacity: 0;
                transition: opacity .5s ease;
                cursor: pointer;
            }

    .aclogodark{
    position: relative;
    height: 20.69vh;
    width: 20.69vw;
    padding: 1rem;
    }

        .aclogo{

            position: absolute;
            left: 0px;
            top: 0px;
            height: 20.69vh;
            width: 20.69vw;
            padding: 1rem;
            opacity: 1;
            }
            .aclogo:hover{
                opacity: 0;
                transition: opacity .5s ease;
                cursor: pointer;
            }
/********************************************/